@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: black;
    width: 100%;
}

.navbar-brand {
    width: 50px;
    height: 50px;
}

.jumbotron {
    margin-top: -70px;
    height: 500px;
    background-image: url('assets/jumbo-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.sect-1 {
    display: inline-block;
    margin: 0 0.5rem;
    animation: fadeInLeftBig; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 1s; /* don't forget to set a duration! */
    border-radius: 5px;
    border: solid 1px white;
}

.para {
    display: block;
    animation: fadeInRightBig;
    animation-duration: 1s;
}

.hera {
    margin: auto;
}

h1,p {
    color: white;
}

.shimsu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shimsu .card {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    transition: 0.5s;
    justify-content: flex-start;
    background-image: url(assets/blur.jpg);
    background-size: cover;
    border: 1px solid white;
}

.yuni .card {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    transition: 0.5s;
    justify-content: flex-start;
    background-image: url(assets/blur.jpg);
    background-size: cover;
}

.yuni .card img {
    position: absolute;
    bottom: 0;
    left: 8%!important;
    translate: translateX(-50%);
    height: 350px;
    transition: 0.5s;
}

.yuni .card:hover img {
    left: 17%!important;
    height: 430px;
}

.sojin .card img {
    position: absolute;
    bottom: 0;
    left: 10%!important;
    translate: translateX(-50%);
    height: 350px;
    transition: 0.5s;
}

.sojin .card:hover img {
    left: 28%!important;
    height: 430px;
}

.shimsu .card img {
    position: absolute;
    bottom: 0;
    left: 20%;
    translate: translateX(-50%);
    height: 350px;
    transition: 0.5s;
}

.shimsu .card:hover img {
    left: 32%;
    height: 430px;
}

.shimsu .card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.shimsu .card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
}

.shimsu .card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2em;
    line-height: 1em;
}

.shimsu .card .content p {
    color: #fff;
}

.shimsu .card .content a {
    position: relative;
    color: #000;
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
}

section {
    height: 180vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    margin-top: -120px;
}

section .container {
    width: 90%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

section .container img {
    width: 100%;
    border-radius: 10px;
}
.all-tooltips {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.hotspot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25px;
    height: 25px;
    background-color: white;
    border: 5px solid black;
    border-radius: 50%;
    cursor: pointer;
}

.hotspot::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius: 50%;
    animation: puls-effect 1s ease-in-out infinite;
}

@keyframes puls-effect {
    0% {
        transform: scale(.5);
        opacity: 1;
    }
    100% {
        transform: scale(3);
        opacity: 0;
    }
}

.tooltip-content {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 20px #00000020;
    padding: 30px;
    border-radius: 8px;
    width: 90vw;
    max-width: 300px;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.tool.active .tooltip-content {
    display: flex;
    opacity: 1;
    pointer-events: all;
}

.tooltip-content .arrow {
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: white;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
}

/* custom style hotspot */

.tool .tooltip-content {
    display: flex;
    max-width: 500px;
    align-items: stretch;
    justify-content: center;
    padding: 0;
}

.tool .tooltip-content img {
    width: 50%;
    object-fit: cover;
    border-radius: 4px;
}

.tool .tooltip-content .content {
    width: 50%;
    padding: 20px;
}


.tool1 .hotspot {
    left: 17%;
    top: 50%;
}

.tool2 .hotspot {
    left: 80%;
    top: 35%;
}

.tool3 .hotspot {
    left: 29%;
    top: 46%;
}

.tool4 .hotspot {
    left: 45%;
    top: 35%;
}

.tool5 .hotspot {
    left: 63%;
    top: 40%;
}

.information {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #dbdbdb;
    padding: 12px 24px;
    border-radius: 10px;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 1;
}

.contentBox {
    position: relative;
    width: 600px;
    height: 400px;
    background: white;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contentBox .imgBx {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox .imgBx::before {
    content: '';
    position: absolute;
    width: 250px;
    height: 250px;
    background-color: #e7ffe0;
    border-radius: 50%;
}

.contentBox .imgBx img {
    position: relative;
    max-width: 250px;
    z-index: 1;
    margin-right: 15px;
    margin-bottom: 65px;
    border-radius: 50%;
}

.contentBox .content {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contentBox .content h3{
    color: #333;
    line-height: 1em;
    font-weight: 300;
    font-size: 2em;
}

.contentBox .content h2 {
    font-size: 3em;
    color: #ff4d54;
    line-height: 1em;

}

.contentBox .content p {
    font-weight: 300;
}

.contentBox .content a {
    display: inline-block;
    padding: 10px 20px;
    background: #ff4d54;
    color: white;
    margin-top: 15px;
    text-decoration: none;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #f3f3f3 url(assets/close.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    cursor: pointer;
    border-radius: 50px;
    z-index: 10;
}

footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    background: #111;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .container .sec {
    margin-right: 30px;
}

footer .container .sec.aboutus {
    width: 40%;
}

footer .container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: #f00;
}

footer p {
    color: #999;
}

.sci {
    margin-top: 20px;
    display: flex;
    margin-left: -40px;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.sci li a:hover {
    background: #f00;
}

.sci li a .fa {
    color: #fff;
    font-size: 20px;
}

.quickLinks {
    position: relative;
    width: 25%;
}

.quickLinks ul li {
    list-style: none;
    margin-left: -40px;
}

.quickLinks ul li a {
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.quickLinks ul li a:hover {
    color: #fff;
}

.contact ul li a:hover {
    color: #fff;
}

.contact {
    width: calc(35% - 60px);
    margin-right: 0!important;
}

.contact .info {
    position: relative;
    margin-left: -40px;
}

.contact .info li {
    display: flex;
    max-width: 16px;
}

.contact .info li span:nth-child(1) {
    color: white;
    font-size: 20px;
    margin-right: 10px;
}

.contact .info li span {
    color: #999;
}

.contact .info li a {
    color: #999;
    text-decoration: none;
}

.copyrightText {
    width: 100%;
    background: #181818;
    padding: 8px 100px;
    text-align: center;
    color: #999;
}

@media (max-width: 991px) {
    .shimsu .card {
        width: auto;
        max-width: 600px;
        align-items: flex-start;
    }

    .shimsu .card:hover {
        height: 600px;
    }
    
    .shimsu .card:hover img {
        left: 20%;
        height: 260px;
    }

    .yuni .card:hover img {
        left: 1%!important;
        height: 260px;
    }

    .yuni .card img {
        left: 17%!important;
        height: 260px;
    }

    .sojin .card:hover img {
        left: 15%!important;
        height: 260px;
    }

    .shimsu .card .content {
        width: 100%;
        left: 0;
        padding: 40px;
    }

    .hotspot {
        width: 15px;
        height: 15px;
        border: 2px solid black;
    }

    section {
        margin-top: -400px;
        margin-bottom: -400px;
    }

    .tool .tooltip-content {
        flex-direction: column;
        max-width: 300px;
    }

    .tool .tooltip-content .content,
    .tool .tooltip-content img {
        width: 100%;
    }

    footer {
        padding: 40px;
    }

    footer .container {
        flex-direction: column;
    }

    footer .container .sec {
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .container .sec.aboutus, .quickLinks, .contact {
        width: 100%;
    }

    .copyrightText {
        padding: 8px 40px;
    }
}

@media (max-width: 767px)  {
.shimsu {
    flex-direction: column;
}

.shimsu .card img {
    position: absolute;
    bottom: 0;
    left: 17%;
    translate: translateX(-50%);
    height: 260px;
    transition: 0.5s;
}

.yuni .card img {
    position: absolute;
    bottom: 0;
    left: 13%;
    translate: translateX(-50%);
    height: 260px;
    transition: 0.5s;
}

.hera {
    width: 10px;
}

.contentBox {
    width: 300px;
    height: auto;
    flex-direction: column;
}

.contentBox .imgBx {
    height: 200px;
    transform: translateY(-50px);
}

.contentBox .imgBx::before {
    background: white;
}

.contentBox .content {
    height: auto;
    text-align: center;
    padding: 20px;
    padding-top: 0;
}
.close {
    top: -50px;
    right: -10px;
    background: #fff url(assets/close.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
}

.popup {
    left: 40%;
}
}